name: Build binary

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tinygo-version: 
        - 'tinygo:0.40.1'
        - 'tinygo-dev:latest'
        target:
        - xiao-ble
        - nano-33-ble-s140v6-uf2
    container:
      image: ghcr.io/tinygo-org/${{ matrix.tinygo-version }}
      options: --user root
    steps:

    - name: Prepare
      run: |
        apt-get update
        apt-get install -y make

    - name: Work around CVE-2022-24765
      # We're not on a multi-user machine, so this is safe.
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Dependencies
      run: |
        go mod tidy

    - name: Clean
      run: make clean

    - name: Softdevice
      run: make softdevice

    - name: Build ${{ matrix.target }} binary
      run: make TARGET=${{ matrix.target }} build

    - name: Set TinyGo version for artifact
      shell: bash
      run: |
        TINYGO_VERSION=${{ matrix.tinygo-version }}
        echo "TINYGO_VERSION_SAFE=${TINYGO_VERSION//:/-}" >> $GITHUB_ENV

    - name: Store binaries
      uses: actions/upload-artifact@v4
      with:
        name: ht_${{ matrix.target }}_${{ env.TINYGO_VERSION_SAFE }}
        path: build/*
        retention-days: 14
